<dom-module id="search-filter">
  <style>
    :host {
      display: block;
      padding: 6px;
    }

    paper-input {
      flex: 1;
    }

    .result-item {
      padding: 12px;
      border-bottom: 1px solid lightgrey;
    }

    .wrapper {
      max-height: 500px;
      overflow: auto;
    }

    paper-item:hover {
      cursor: pointer;
    }
  </style>
  <template>
    <paper-input id="input" label="[[label]]" value="{{value}}" type="[[inputType]]"></paper-input>
    <paper-menu>
      <template id="filteredItems" is="dom-repeat" items="[[filteredItems]]">
        <paper-item class="result-item" on-click="eItemClick">[[item.name]]</paper-item>
      </template>
    </paper-menu>
  </template>
</dom-module>
<script>
  Polymer({
    is: 'search-filter',

    properties: {
      addData: {
        type: Boolean,
        value: false
      },

      data: {
        type: Array,
        value: []
      },

      inputType: {
        type: String,
        value: "text"
      },

      label: String,

      filterFn: {
        type: Function,
        value: function() {
          return function(data, input) {
            if (input === '') {
              return data;
            }

            var r = RegExp(input, 'i');

            return data.filter(function(v) {
              return (r.test(v.name) ? v : null);
            });
          };
        }
      },

      filteredItems: {
        type: Array,
        computed: 'getFiltered(data.*, value, filterFn)'
      },

      value: String
    },

    eItemClick: function(event) {
      var item = this.$.filteredItems.itemForElement(event.target).id;
      this.fire("animate-marker", {bubbles: true, item: item});
    },

    getFiltered: function(data, value, filterFn) {
      var filteredItems = filterFn.call(this, data.base, value);
      this.fire("filter-marker", {bubbles: true, filteredItems: filteredItems});
      return filteredItems;
    },

    setData: function(data) {
      this.data = data;
    }
  });
</script>
