<!-- This web component provides a search bar and a result list. It uses users' search
bar input to filter the available data and display them in the result list -->
<dom-module id="search-filter">
  <style>
    :host {
      display: block;
      padding: 6px;
    }

    paper-input {
      flex: 1;
    }

    .result-item {
      padding: 12px;
      border-bottom: 1px solid lightgrey;
    }

    .wrapper {
      max-height: 500px;
      overflow: auto;
    }

    paper-item:hover {
      cursor: pointer;
    }
  </style>

  <template>
    <div id="host">
      <paper-input id="input" label="[[label]]" type="[[inputType]]" data-bind="valueUpdate: 'keyup', value: textInput"></paper-input>
      <paper-menu data-bind="foreach: filteredItems">
        <paper-item class="result-item" data-bind="text: $data.name, click: $parent.eItemClick"></paper-item>
      </paper-menu>
    </div>
  </template>

</dom-module>
<script>
  Polymer({
    is: 'search-filter',

    properties: {
      // Allowing webcomponent users to declase input type of search bar, defaulting to text
      inputType: {
        type: String,
        value: "text"
      },

      // Allowing webcomponent users to declar label of the search bar
      label: String
    },

    // Initialize data binding of the webcomponent when it is ready
    // Data binding is implemented using KnockOut.js
    ready: function() {
      var polymer = this;
      function ViewModel() {
        // All available data that can be displayed
        this.data = ko.observableArray(null);

        // Bind search bar input to an observable
        this.textInput = ko.observable("");

        // Bind displayed result to a computed observable, automatically updating
        // whenever the database change or search bar input change
        this.filteredItems = ko.computed(function() {
          var filteredItems = this.data();
          if (this.textInput() !== "") {
            var regExp = RegExp(this.textInput(), "i");

            filteredItems = this.data().filter(function(item) {
              return (regExp.test(item.name) ? item : null);
            });
          }

          // Fire an event, notifying that displayed result list may have changed
          polymer.fire("filter-marker", {bubbles: true, filteredItems: filteredItems});

          return filteredItems;
        }, this);
      };

      // Trigger whenever an item on the result list has been clicked on
      ViewModel.prototype.eItemClick = function() {
        // Fire an event, notifying that an item has been click on and passing along its id
        polymer.fire("animate-marker", {bubbles: true, item: this.id});
      };

      // Initialize the view model
      polymer.viewModel = new ViewModel();

      // Bind the view model to the webcomponent
      ko.applyBindings(polymer.viewModel, this.$.host);
    },

    // Add items to the current database
    setData: function(data) {
      for (var i = 0; i < data.length; i++) {
        this.viewModel.data.push(data[i]);
      }
    }
  });
</script>
